// Search form
.search-form {
  @extend .form-inline;
}
.search-form label {
  font-weight: normal;
  @extend .form-group;
}
.search-form .search-field {
  @extend .form-control;
}
.search-form .search-submit,
#respond .submit {
  @extend .btn;
  @extend .btn-secondary;
  font-family: $font-family-sans-serif;
  font-size: 25px;
  margin-right: 15px;
  margin-left: 15px;
  color: darken($brand-primary, 10%);
  background-color: $body-bg;
  border: 0;
  outline: none;

	&:hover {
		cursor: pointer;
		background-color: darken($yellow, 10%);
	}
}


.comment-form input[type=email], .comment-form input[type=text], .comment-form input[type=url], .comment-form textarea, .form-control, .search-form .search-field {
    display: block;
    font-family: $font-family-sans-serif;
    background-color: $white;
    width: 100%;
    font-size: 1.4rem;
    line-height: 1.25;
    box-shadow: none;
    border: 0;
    font-weight: 300;
}

// When in error
input[type=email], input[type=text], input[type=url], textarea, .form-control, .search-field {
	.has-error & {
		border: 0;
    	box-shadow: inset 5px 0 0 $red;
    }
}

#reply-title {
	z-index: $zindex-tooltip + 2;
}

#respond {
	transition: opacity $transition-time ease-in-out;
	display: none; // Hide by default, use JS to bring it to the DOM
	opacity: 0;
	position: fixed;
	background-color: $brand-primary;
	color: $white;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: $zindex-tooltip + 1;
	overflow-y: auto;

	&.open {
		opacity: 1;
	}

	@include media-breakpoint-up(lg) {
		left: $navbar-width - 15;
		overflow-y: visible;
	}
}


#form-comment {
	max-width: 1200px;
	padding: 40px 20px;	
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;

	@include media-breakpoint-up(md) {
		padding: 50px 40px;
	}

	@include media-breakpoint-up(lg) {
		padding: 50px 50px;
		position: relative;		
		height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	@include media-breakpoint-up(xl) {
		padding: 50px 90px;	
	}
}

#form-comment #comment {
	height: 300px;
	text-align: center;
	padding: 40px 30px;
	font-size: 7vw;

	@include media-breakpoint-up(sm) {
		font-size: 5vw;	
	}

	@include media-breakpoint-up(md) {
		font-size: 4vw;	
	}

	@include media-breakpoint-up(lg) {
		font-size: 4vw;	
	}

	@include media-breakpoint-up(xl) {
		font-size: 2.75vw;
	}
}


.comment-respond .caveat {
	margin-left: 5px;
	color: rgba(255,255,255,0.5);
}


#form-comment p {
	position: relative;
	margin-bottom: 0;
    margin-top: 20px;
}

.form-submit {
	text-align: right;
}

#form-comment .help-block {
	font-family: $font-family-sans-serif-alt;
	font-size: 9px;
	text-transform: uppercase;
	position: absolute;
	left: 5px;
	bottom: 3px;
	color: $body-color; 
}

#form-comment .has-error .help-block {
	left: 15px;
	color: $red;
}


// For the validation info on textarea
#form-comment .comment-input .help-block {
	left: 20px;
}

// When in error
#form-comment .comment-input.has-error .help-block {
	left: 30px;
}

// Transition form items
#comment-wrap h4,
#comment-wrap,
.comment-form,
.form-submit {
	transition: opacity $transition-time ease-in-out, transform $transition-time ease-in-out;
	opacity: 0;
	transform: translate(0,10px) scale(1.2);
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;

    @include media-breakpoint-up(lg) {
    	width: 100%;
    	max-width: 800px;
    }

    #respond.open & {
		opacity: 1;
		transform: translate(0,0) scale(1);
    }
}

// Stagger delay
#comment-wrap h4 {
	transition-delay: $transition-time;
}
#comment-wrap {
	transition-delay: $transition-time + 0.1;
}
.comment-form {
	transition-delay: $transition-time + 0.2;
}
.form-submit {
	transition-delay: $transition-time + 0.3;
}

#comment-wrap {
	position: relative;
	
	h4 {
		display: block;
		width: 100%;
		position: relative;

		// Only on larger screens
		@include media-breakpoint-up(lg) {
			&::before {
				content: $fa-var-lightbulb-o;
				font-family: FontAwesome;
				transition: opacity $transition-time * 3 ease-in-out, transform $transition-time * 3 ease-in-out;
				transition-delay: $transition-time + 0.2;
				opacity: 0;
				transform: translate(0, 0);
				color: darken($brand-primary, 10%);
				position: absolute;
				top: -50px;
				left: 50%;
				margin-left: -6px;
				z-index: 2;

				#respond.open & {
					opacity: 1;
					transform: translate(0, -10px);
				}
			}

			&::after {
				content: "";
				background-color: $yellow;
				transition: opacity $transition-time * 3 ease-in-out, box-shadow $transition-time * 3 ease-in-out;
				transition-delay: $transition-time + 1;
				opacity: 0;
				position: absolute;
				width: 12px;
				height: 10px;
				border-radius: 30px;
				top: -55px;
				left: 50%;
				margin-left: -6px;
				z-index: 1;
				box-shadow: 0 3px 0 0 $body-bg;

				#respond.open & {
					opacity: 1;
					box-shadow: 0 3px 0 20px $body-bg;
				}
			}
		}
	}

	#maxlength-p {
		position: absolute;
		bottom: 20px;
		left: 50%;
		background-color: rgba(255,255,255,0.5);
		color: lighten($body-color, 20%);
		width: 130px;
	    text-align: center;
	    margin-left: -65px;
	}
}

#form-comment .input-info {
	display: block;
	font-size: 13px;
	margin-top: 10px;
	color: lighten($brand-primary, 30%);
}