body {
	transition: background-color $transition-time ease-in-out;
	background-color: $body-bg;
	font-weight: 300;

	&.bg-1 {
		background-color: $body-bg;
	}
	&.bg-2 {
		background-color: adjust-hue($body-bg, 36%);
	}
	&.bg-3 {
		background-color: adjust-hue($body-bg, 72%);
	}
	&.bg-4 {
		background-color: adjust-hue($body-bg, 108%);
	}
	&.bg-5 {
		background-color: adjust-hue($body-bg, 144%);
	}
	&.bg-6 {
		background-color: adjust-hue($body-bg, 180%);
	}
	&.bg-7 {
		background-color: adjust-hue($body-bg, 216%);
	}
	&.bg-8 {
		background-color: adjust-hue($body-bg, 252%);
	}
	&.bg-9 {
		background-color: adjust-hue($body-bg, 288%);
	}
	&.bg-10 {
		background-color: adjust-hue($body-bg, 324%);
	}
}

.navbar-brand {
	// RESPONSIVE
	@include media-breakpoint-up(lg) { 
		background-color: $body-bg;

		.bg-1 & {
			background-color: $body-bg;
		}
		.bg-2 & {
			background-color: adjust-hue($body-bg, 36%);
		}
		.bg-3 & {
			background-color: adjust-hue($body-bg, 72%);
		}
		.bg-4 & {
			background-color: adjust-hue($body-bg, 108%);
		}
		.bg-5 & {
			background-color: adjust-hue($body-bg, 144%);
		}
		.bg-6 & {
			background-color: adjust-hue($body-bg, 180%);
		}
		.bg-7 & {
			background-color: adjust-hue($body-bg, 216%);
		}
		.bg-8 & {
			background-color: adjust-hue($body-bg, 252%);
		}
		.bg-9 & {
			background-color: adjust-hue($body-bg, 288%);
		}
		.bg-10 & {
			background-color: adjust-hue($body-bg, 324%);
		}
	}

}



.navbar,
.wrap {
	transition: opacity $transition-time ease-in-out, background-color $transition-time ease-in-out;
	opacity: 0;

	.page-ready & {
		opacity: 1;
	}
}

.content {
	@include media-breakpoint-up(lg) { 
		margin-left: $navbar-width - 15;
	}
}



a:link, a:active, a:visited, a:hover {
	text-decoration: none;
}

.main {
	min-height: 100vh;
}

#loading-cover {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: $brand-primary;
}