.navbar,
#reply-title {
	height: $navbar-height;
	line-height: $navbar-height;
	padding: 0;
	background-color: $body-bg;
	flex-direction: row;
	background-color: $white;
	text-align: center;

	@include media-breakpoint-up(lg) {
		position: fixed;
		background-color: $white;
		width: $navbar-width;
		line-height: 1;
		height: 100%;
		top: 0;
		left: 0;
		bottom: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}

#reply-title {
	@include media-breakpoint-up(lg) {
		position: fixed;
		background-color: $white;
		width: $navbar-width;
		line-height: 1;
		height: 100%;
		top: 0;
		left: 0;
		bottom: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		z-index: $zindex-tooltip + 1;
	}
}

.navbar-brand {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}

.navbar-brand {
	transition: opacity $transition-time ease-in-out, transform $transition-time ease-in-out, background-color $transition-time ease-in-out;
	opacity: 0;
	transform: scale(1.1);
	font-size: 20px;
	font-weight: 700;
	z-index: 2;
	font-family: $font-family-sans-serif-alt;
	color: $brand-primary;

	.page-ready & {
		opacity: 1;
		transform: scale(1);
	}

	@include media-breakpoint-up(md) {
		font-size: 25px;
	}

	@include media-breakpoint-up(lg) {
		font-size: 30px;
		padding: 10px;
		padding-left: 35px;
		padding-right: 35px;
		white-space: normal;
		border-radius: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: $navbar-width - 60;
		width: $navbar-width - 60;
	}

	&::before,
	&::after {
		transition: opacity $transition-time * 2 ease-in-out, transform $transition-time * 2 ease-in-out;
		transition-delay: $transition-time * 4;
		opacity: 0;
		transform: translate3d(0, 10px, 0);
		font-family: "FontAwesome";
		content: $fa-var-lightbulb-o;
		position: absolute;
	    top: 25px;
	    font-size: 13px;
	    height: 10px;
	    line-height: 1;
	    left: 50%;
	    color: $gray-light;
	    margin-left: -60px;
    

	    @include media-breakpoint-up(md) {
			margin-left: -74px;
	    }

	    @include media-breakpoint-up(lg) {
	    	margin-left: -4px;
	    	top: -8px;
	    }



	    // When page-ready
	    .page-ready & {
	    	opacity: 1;
	    	transform: translate3d(0,0,0);
	    }

	}

	&::after {
		color: $yellow;
		content: "";
		background-color: $yellow;
		z-index: -1;
		width: 5px;
		height: 7px;
		top: 26px;
		border-radius: 100%;
		animation: bulb-flicker 3s linear forwards;
		animation-delay: 5s;
		box-shadow: 0 0 15px rgba(255,213,0,0.75);
		margin-left: -59px;
		

	    @include media-breakpoint-up(md) {
	    	margin-left: -73px;
	    }

	    @include media-breakpoint-up(lg) {
	    	margin-left: -3px;
	    	top: -6px;
	    }

	}
}



// navbar-brand bg

.navbar-brand .brand-bg {
	transition: opacity $transition-time * 2 ease-in-out, transform $transition-time * 2 ease-in-out;
	transition-delay: $transition-time + 1;
	content: "";
	width: 20px;
	height:  20px;
	position: absolute;
	opacity: 0;
	transform: scale(0);
	transform-origin: 50% 50%;
	top: -9px;
	left: 50%;
	z-index: -1;
	margin-left: -10px;
	border-radius: 100%;
	background-color: $white;
}

.navbar-brand .brand-bg {
	.page-ready & {
		opacity: 1;
		transform: scale(1);
	}
}



// Animation keyframes
@keyframes bulb-flicker {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  17% {
    opacity: 0;
  }
  19% {
    opacity: 0.75;
  }
  22% {
    opacity: 1;
  }
  68% {
    opacity: 1;
    //box-shadow: 0 0 0 5px rgba(255,213,0,0);
  }
  70% {
    opacity: 0;
  }
  72% {
    opacity: 0.5;
  }
  72% {
    opacity: 1;
    //box-shadow: 0 0 15px rgba(255,213,0,1);
  }
  100% {
    opacity: 1;
  }
}


// CHANGE UP THE COLOURS IN REPLY FORM
#reply-title {
	&::before {
		color: $gray-dark;
	}
	&:after {
		opacity: 0.75;
	}
}


.navbar-nav {
	position: fixed; 
	left: 0;
	top: 0;
	height: $navbar-height;
	z-index: 5;
}

