.navbar,
#reply-title {
	height: $navbar-height;
	line-height: $navbar-height;
	padding: 0;
	background-color: $body-bg;
	flex-direction: row;
	background-color: $white;

	@include media-breakpoint-up(lg) {
		position: fixed;
		background-color: $white;
		width: $navbar-width;
		line-height: 1;
		height: 100%;
		top: 0;
		left: 0;
		bottom: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}


	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border-bottom: 1px solid rgba(255,255,255,0.1);
		z-index: 1;
	}
}

#reply-title {
	@include media-breakpoint-up(lg) {
		position: fixed;
		background-color: $white;
		width: $navbar-width;
		line-height: 1;
		height: 100%;
		top: 0;
		left: 0;
		bottom: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		z-index: $zindex-tooltip + 1;
	}
}

.navbar-brand {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}

.navbar-brand,
#reply-title {
	font-size: 30px;
	font-weight: 700;
	z-index: 2;
	color: $gray;

	@include media-breakpoint-up(md) {
		font-size: 35px;
	}

	@include media-breakpoint-up(lg) {
		font-size: 40px;
		width: $navbar-width;
		padding: 10px;
		white-space: normal;
	}

	@include media-breakpoint-up(xl) {
		font-size: 45px;
	}


	&::before,
	&::after {
		transition: opacity 1s ease-in-out, transform 1s ease-in-out;
		transition-delay: 1.5s;
		opacity: 0;
		transform: translate3d(0, 10px, 0);
		font-family: "FontAwesome";
		content: $fa-var-lightbulb-o;
		position: absolute;
	    top: 25px;
	    font-size: 13px;
	    height: 10px;
	    line-height: 1;
	    left: 50%;
	    color: $gray-light;
	    margin-left: -77px;
    

	    @include media-breakpoint-up(md) {
			margin-left: -89px;
	    }

	    @include media-breakpoint-up(lg) {
	    	margin-left: -102px;
	    	top: 48px;
	    }

	    @include media-breakpoint-up(xl) {
	    	margin-left: -114px;
	    }

	    // When page-ready
	    .page-ready & {
	    	opacity: 1;
	    	transform: translate3d(0,0,0);
	    }

	}

	&::after {
		color: $yellow;
		content: "";
		background-color: $yellow;
		z-index: -1;
		width: 5px;
		height: 7px;
		top: 26px;
		border-radius: 100%;
		animation: bulb-flicker 3s linear forwards;
		animation-delay: 5s;
		box-shadow: 0 0 15px rgba(255,213,0,0.75);
		margin-left: -76px;
		

	    @include media-breakpoint-up(md) {
	    	margin-left: -88px;
	    }

	    @include media-breakpoint-up(lg) {
	    	margin-left: -101px;
	    	top: 49px;
	    }

	    @include media-breakpoint-up(xl) {
	    	margin-left: -112px;
	    }
	}


}


// Animation keyframes
@keyframes bulb-flicker {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  17% {
    opacity: 0;
  }
  19% {
    opacity: 0.75;
  }
  22% {
    opacity: 1;
  }
  68% {
    opacity: 1;
    //box-shadow: 0 0 0 5px rgba(255,213,0,0);
  }
  70% {
    opacity: 0;
  }
  72% {
    opacity: 0.5;
  }
  72% {
    opacity: 1;
    //box-shadow: 0 0 15px rgba(255,213,0,1);
  }
  100% {
    opacity: 1;
  }
}


// CHANGE UP THE COLOURS IN REPLY FORM
#reply-title {
	&::before {
		color: $gray-dark;
	}
	&:after {
		opacity: 0.75;
	}
}


.navbar-nav {
	position: fixed; 
	left: 0;
	top: 0;
	height: $navbar-height;
	z-index: 5;
}


.navbar-nav .nav-link {
	display: inline-block;
	padding: 0 10px 0 20px;

	@include media-breakpoint-up(sm) {
		padding: 0  20px 0 40px;
	}
}