// If it's the thank you page, don't show LIKE / DISLIKE
.thank-you .cld-like-dislike-wrap {
	display: none !important;
}



.alert {
	position: absolute;
	top: $navbar-height;
	display: block;
	font-size: 12px;
	border: 0;
	border-radius: 0;
	right: $grid-gutter-width-base / 2;
	left: $grid-gutter-width-base / 2;
	text-align: center;
	z-index: $zindex-tooltip;

	p {
		display: block;
		margin-bottom: 5px;
	}

	a {
		border-radius: 30px;
		padding: 3px 10px; 
		background: rgba(255,255,255,0.1);
	}

	// RESPONSIVE
	@include media-breakpoint-up(sm) {
		font-size: 15px;
	}

	@include media-breakpoint-up(lg) { 
		top: $navbar-height + 50px;
	}
}

.pager-wrap {
	position: fixed;
	bottom: 65px;
	width: 100%;

	@include media-breakpoint-up(sm) {
        //bottom: 85px;
    }
}

.pager {	
	list-style-type: none;
	display: flex;
	flex-direction: row;
	flex: 1;
	padding: 0;
	margin: 0;
    align-items: center;
    justify-content: center;
}

.pager li {
	font-size: 12px;
	position: absolute;
	left: 50%;

	&.prev {
		margin-left: -100px;
	}

	&.next {
		margin-left: 60px;
	}
}

.pager li a {
    transition: all $transition-time ease-in-out;
    z-index: $zindex-tooltip;
    display: block;
    height: 30px;
    width: 30px;
    margin: 5px;
    border-radius: 100%;
    background: rgba(255,255,255,0.5);
    cursor: pointer;
    background: transparent;
    bottom: 30px;
    padding: 0;
    border: none;
    outline: none;

    // RESPONSIVE
    @include media-breakpoint-up(sm) {
        bottom: 50px;
    }

    .fa {
		height: 30px;
		width: 30px;
		line-height: 30px;
		display: block;
		text-align: center;
		font-size: 19px;
    }

    &:hover, &:focus {
        outline: none;
        background: $brand-primary;
        color: $body-bg;
        &:before {
            color: $body-bg;
            opacity: $slick-opacity-on-hover;
        }
    }
}